node_modules
dist
yarn.lock
package-lock.json
tsconfig.node.tsbuildinfo
vite.config.d.ts
vite.config.js
.env.production
.env.stage
.env.development
docker-compose.prod.yml
docker-compose.stage.yml
.git
